<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="examen2.Properties.Settings.datosCursosConnectionString"
            connectionString="Data Source=CC101-24;Initial Catalog=datosCursos;User ID=sa;Password=sqladmin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>